@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<!-- f-box Section Starts -->
<div id="about" class="f-box">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-4">
                <div class="f-box-single wow fadeInUp" data-wow-delay="0.6s">
                    <div class="f-box-image">
                        <img src="~/Label/assets/icons/growth.png" alt="Icon" />
                    </div>
                    <div class="f-box-content">
                        <h3>Процесс</h3>
                        <p>
                            Отслеживайте процесс разработки проекта и получайте всю необходимую информацию по нему в режиме онлайн
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="f-box-single wow fadeInUp" data-wow-delay="1.2s">
                    <div class="f-box-image">
                        <img src="~/Label/assets/icons/mobile.png" alt="Icon" />
                    </div>
                    <div class="f-box-content">
                        <h3>Адаптивность</h3>
                        <p>
                            Все разрабатываемые проекты будут адаптированы под мобильные устройства и под разные браузеры
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="f-box-single wow fadeInUp" data-wow-delay="1.8s">
                    <div class="f-box-image">
                        <img src="~/Label/assets/icons/safe.png" alt="Icon" />
                    </div>
                    <div class="f-box-content">
                        <h3>Безопасноть</h3>
                        <p>
                            Ваши данные под надежной защитой. Мы не передаем данные третьим лицам и сохраняем коммерческую тайну по вашему проекту
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- f-box Section Ends Here -->


