@{
    Layout = "~/Views/Shared/_PanelControl.cshtml";
    ViewBag.Title = "Ваш проект " + ViewBag.Name + " завершен!";
}
<div class="row">


    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    Ваш проект завершен.<br />
                    Спасибо, что выбрали нас для создания Вашего продукта и воплощения идеи.<br />
                    Ждем Вас у нас в гости снова и желаем всего наилучшего
                </h4>
              

                

            </div>
        </div>

    </div>



</div>

